<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/Logs/internal-nlog.log">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Targets.ElasticSearch"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <target xsi:type="File" name="file" fileName="${basedir}/Logs/Log_${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    
    <target xsi:type="ColoredConsole" name="console" 
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    
    <target xsi:type="BufferingWrapper" name="elastic_search" flushTimeout="5000">
      <target xsi:type="ElasticSearch" uri="http://elk.some.com:8080" index="staff_daemon-${date:format=yyyy}" />
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
      <logger name="*" minlevel="Debug" writeTo="file, console, elastic_search" />
  </rules>
</nlog>